.searchbar {
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: blueviolet;
}

.searchbar input {
  margin: 10px;
  padding: 5px 10px;
  width: 80%;
  border-radius: 5px;
}
